page-capture-time {
  .big {
    .fab ion-icon {
      font-size: 11rem;
    }
    top: 25%
  }

  .small {
    .fab ion-icon {
      font-size: 3rem;
    }
    top: 55%
  }

  .timer {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
  }
}
