<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="selectedProject">{{selectedProject.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides (ionSlideDidChange)="slideChanged($event)" [loop]="true">
        <ion-slide *ngFor="let project of activeProjects" [style.backgroundColor]="project.color">

            <!-- Zeitanzeige -->
            <h1 class="timer">{{recordedTime}}</h1>

            <!-- Großer FAB -->
            <ion-fab center class="big">
                <button ion-fab (click)="onTogglePlayPauseFAB()">
                    <ion-icon *ngIf="isTimePlaying" name="pause"></ion-icon>
                    <ion-icon *ngIf="!isTimePlaying" name="play"></ion-icon>
                </button>
            </ion-fab>

            <!-- Kleiner FAB -->
            <ion-fab center class="small" *ngIf="isTimeRecording">
                <button ion-fab mini (click)="onClickFinischRecording()">
                    <ion-icon name="square"></ion-icon>
                </button>
            </ion-fab>

        </ion-slide>
    </ion-slides>

</ion-content>
