page-report-detail {

  ion-list ion-label {
    margin: 5px 8px 5px 0 !important;
  }

  .time-total {
    padding-bottom: 0 !important;
  }

  .fab[mini] {
    margin: 8px 8px 8px 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  .fab[mini] ion-icon {
    font-size: 1.8rem;
  }

  .flex-container {
    display: flex;
    align-items: center;
    font-size: 1.3em;
  }

  .day {
    padding-bottom: 7px;
    color: #bdbdbd;
  }
}
